@{
    Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Add this machine to an engineer @Html.DisplayFor(model => model.MachineName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select an engineer")
    @Html.DropDownList("EngineerId")
    <input type="submit" value="save"/>

}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add new engineer", "Create", "Engineers")</p>