@{
    Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Add this engineer to a machine @Html.DisplayFor(model => model.EngineerName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select a machine")
    @Html.DropDownList("MachineId")
    <input type="submit" value="save"/>

}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add new machine", "Create", "Machines")</p>